.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}